.contact-title {
    padding-top: 1em;
}

.contact-container {
    max-width: 100%;
    min-height: 65vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 1em;
}

.contact-container .card {
    margin: .5em;
}