.player-form {
    width: 100%;
}
.player-form input {
    width: 50%;
    margin: 1em auto;
}
button {
    display: block !important;
    // width: 40%;
    margin: 0 auto;
}
.center {
    display: block;
    margin: 0 auto;
}