.modal {
    height: 86vh;
    width: 100%;
    position: absolute;
    left: 0;
    top: 14vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    background-color:black;
    z-index: 9000;
    border-top: 1px solid darkgray;
}
.modal a {
    text-decoration: none;
    color: white;
    font-size: 30px;
    margin: auto;
    font-weight: 600;
    padding: .5em 0;
    text-transform: uppercase;
    font-family: 'Permanent Marker', cursive;
}